#container {
    border: 1px solid black;
    width:32em;
    height: 32em;
    margin: 5em auto;
    display: grid;
    grid-template-columns: repeat(16, auto);
    padding: 0.5em;
    background-color:black;
}

div {
    border: 1px solid white;
    color:white;
    display:flex;
}